.nav-container {
  display: flex;
  top: 0;
  position: sticky;
  height: 65px;
  width: 100%;
  background-color: white;
}
.nav-header {
  padding-left: 1rem;
  font-family: cursive;
  font-size: 24px;
  font-weight: 700;
}
