.my-profile-content {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  background-color: white;
  align-items: center;
  width: 640px;
  padding: 1rem;
  border-radius: 8px;
}
@media (max-width: 480px) {
  .my-profile-content {
    width: 104vw;
    margin-top: 5px;
    padding: 1rem 0 0 0;
    border-radius: 8px;
  }
  .follower-details p {
    font-size: 13px;
  }
  .main-profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 80px;
  }
  .profile-username > span {
    font-weight: 300;
  }
}
@media (max-width: 900px) {
  .my-profile-content {
    width: 450px;
    padding: 1rem;
    border-radius: 8px;
  }
  .follow-btn {
    text-align: center;
    padding: 0;
  }
}
